Flask==2.3.3
opencv-python==4.8.1.78
numpy==1.24.3
Pillow==10.0.1
pyserial==3.5

# Piのときだけ入れる（Linuxかつarm系）
picamera2==0.3.12; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "armv7l")
